body {
    font-family: Arial, Helvetica, sans-serif;
}
.info {
    display: flex;
    justify-content: center;
    padding: 20%;
}
.container {
    display: flex;
    justify-content: center;
}
.linkdiv {
    text-align: center;
}
.linkdiv a {
    text-decoration: none;
    border: 2px solid black;
    color: black;
    margin: 10px;
    padding: 5px;
}